*.log
*.lib
*.dll
*.pdb
*.exp
*.ilk
*.suo
*.user
*.vspscc
*.txt
*.ncb
*.vssscc
*.opensdf
*.sdf
*.ipch
*.cache
*.force
*.moc
*.png
*.url
*.hpng
*.dox
*.resx
*.tlog
*.idb
*.lastbuildstate
*.unsuccessfulbuild
*.tlh
*.tli
*.bi
*.obj
*.res
*.manifest
